body {
  font-family: 'Silkscreen', cursive;
    background-color: #DC26E6;
    color: #000000;
    text-align: center;
   
}
h1, h2, h3, h4 {
    text-align: center;
    font-size: 40pt;
}
header {
    font-family: 'Alkalami', serif;
    text-align: center;
}
#hero, footer{
    
    max-width: 100%;
    color:aquamarine;
    border: 1rem solid #C43221;
    background-color: blue;
    text-align: center;
    padding:20px;
}
#bio{
    text-align: center;
}
#hobbies ul li:nth-child(even){
    color:#C43221

}
#gallery{
    border: 2px solid #000000;
}
#gallery img{
    max-width: 100%;
}
#gallery figure{
    text-align: center;
}
#lit{
    border: 2px solid crimson;
    margin-bottom: 2rem;
}

#lit div{
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}
#lit div p{
    padding:0.3rem 0;
}
#avideo{
    max-width: 100%;
    border: 5px solid red;
    margin: auto;
    padding: 0;
   
}